{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>softquoke´</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
    <header>
        <div class="container">
            <a href="https://github.com/softquoke" target="_blank">softquoke´</a> <br>
            <h2><p>Django</p></h2>
        </div>
        <hr>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>