{% extends 'main/base.html' %} 
{% load static %}

{% block content %}    
    <div class="container">

        <ul reversed>
            {% for post in posts%}
                <a href="{% url 'post_detail' pk=post.pk %}"><li>{{ post.title }}</li></a>
            {% endfor %}
        </ul>
        
    </div>
{% endblock content %}

<!-- <dl>
<dt>Hummus</dt>
<dd>A thick dip/sauce generally made from chick peas blended with tahini, lemon juice, salt, garlic, and other ingredients.</dd>
<dt>Pita</dt>
<dd>A soft, slightly leavened flatbread.</dd>
<dt>Halloumi</dt>
<dd>A semi-hard, unripened, brined cheese with a higher-than-usual melting point, usually made from goat/sheep milk.</dd>
<dt>Green salad</dt>
<dd>That green healthy stuff that many of us just use to garnish kebabs.</dd>
</dl> -->